
html{
	font-family: Calibri, sans-serif ;
	max-width: 800px;
	margin: auto;
}

h1 {
	color: black;
	text-align:center;
	font-size : 3em;
}

header {
	position: sticky;
	top:0;
	padding : 20px;
	background-color:white;
	border-bottom-style: solid; 
}

address {
	font-style: normal;
}

h2 {
	margin : 10px 0px;
}

h3 {
	margin : 10px;
	font-style : italic;
	font-weight : lighter;
}

article {
	padding : 10px 0px;
	border-bottom-style : solid;
	overflow : hidden;
}	

article figure {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
	justify-items: end;
	align-items: start;
	margin:10px;
	float:right;
}

article img {
	padding : 5 px;
	float:right;
}

article figure figcaption{
	grid-row: 2;
  	grid-column: 1 / -1;
	inline-size: 100%;
	contain: inline-size;
  	min-inline-size: 0;
	text-align : right;
	font-family : Arial, Helvetica, sans-serif;
}

button {
	background-color : white;
	border:2px solid black;
	padding:8px;
	margin:8px;
	cursor: pointer;
	text-decoration:none;
	border-radius:8px;
	transition-duration : 0.5s;
}	

button:hover {
	background-color : black;
	color:white;
	border-color:2px solid white;
}

footer {
	text-align : center;
}